body{
	background-image: url('http://image.noelshack.com/fichiers/2017/10/1489142310-horse-2059504.jpg');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

table{
background: rgba(255, 255, 255, .5);
}
.table{
	background: rgba(255, 255, 255, .5);
	color: black;
}
p{
	text-align: justify;
}
.container_custom2{
	background: rgba(255, 255, 255, .5);
	color: black;

}

h1{
font-family: cinzel;
text-align: center;
text-shadow: 2px 2px 0px white;
line-height: 110%;
padding: 50px 50px 50px 50px;
}

h2{
font-family: cinzel;
text-align: center;
text-shadow: 2px 2px 0px white;
padding: 50px 50px 50px 50px;
}



div{
font-size: medium;
padding: 30px 30px 30px 30px;
text-align:center;

}

h3{
font-family: cinzel;
}

.container_intro{
color: gray;

}








