/* style_nav.css */

.container-fluid {
    position: center;
}

/*.navigation {
	margin-bottom: 0;
	position: fixed;
}*/

.nav li {
    min-height: 130px;
    font-family: 'Crimson Text', serif, 'Open Sans', sans-serif;
    list-style: none;
    display: inline-block !important;
    margin-left: 0 !important;
    padding: 10px;
}

.nav a {
	line-height: 4;
    font-size: 2em;
    font-weight: bold;
    color: #2e2e1f;
    background-color: grey;
    margin: 10px;
    border-radius: 50%;
    vertical-align: center !important;
    text-align: center;
    width: 150px;
    height: 150px;
    
}